.containerA{
    display: flex;
    height:300px;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.parrafo{
    display: flex;
    color: white;
    padding: 90px;
    width: 100%;
}
.containerF{
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}
.favorito {
	width: 200px;
	height: 300px;
	margin-left: 80px;
	text-align: center;
	line-height: 74px;
	font-size: 30px;
	align-items: center;
}

.parrafoF h1 {
	text-align: left;
	font-size: 20px;
    padding-top: 6px;
}

.parrafoF h2 {
	font-size: 12px;
	text-align: right;
}

.parrafoF {
	width: 200px;
	margin-left: 80px;
}

img {
	width: 200px;
	height: 300px;
	border-radius: 5px;
}

img:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.container-ult{
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.ult-Agregado{
    margin: 10px;
}