@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
}

body {
	background: rgb(38,25,38);
background: linear-gradient(0deg, rgba(38,25,38,1) 0%, rgba(26,42,52,1) 100%);
	background-repeat: no-repeat;
}

.capa {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: -1;
	top: 0;
	left: 0;
}


/*Estilos para el Header*/
.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.container .btn-menu{
	line-height: 100px;
	float: right;
}



.container .btn-menu label {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
}

.logo{
	padding-top: 180px;
	padding-bottom: 160px;
	text-align: center;
}


/*Menù lateral*/
#btn-menu {
	display: none;
}

.container-menu {
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	transition:all 500ms ease;
	opacity: 0;
	visibility: hidden;
}

#btn-menu:checked~.container-menu {
	opacity: 1;
	visibility: visible;
}

.cont-menu {
	width: 100%;
	max-width: 250px;
	background: rgb(38,25,38);
background: linear-gradient(0deg, rgba(38,25,38,1) 0%, rgba(26,42,52,1) 100%);
	height: 100vh;
	position: relative;
	float: right;
	transition: all 500ms ease;
	transform: translateX(-100%);
}

#btn-menu:checked~.container-menu .cont-menu {
	transform: translateX(0%);
}

.cont-menu nav {
	transform: translateY(100%);
}

.cont-menu nav a {
	text-align: right;
	display: block;
	text-decoration: none;
	padding: 20px;
	color: #c7c7c7;
	border-left: 5px solid transparent;
	transition: all 500ms  ease;
}

.cont-menu nav a:hover {
	border-right: 5px solid #c7c7c7;
	background: #1f1f1f;
}

.cont-menu label {
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}

/*Fin del Menù lateral*/

.containerA {
	display: flex;
	height: 100px;
	flex-wrap: wrap;
	align-content: space-between;
	width: 100%;
	height: 100%;
}

.parrafo {
	display: flex;
	color: white;
	padding: 120px;
	padding-bottom: 50px;
	width: 100%;
}

.containerF {
	display: flex;
	color: white;
	text-align: center;
	justify-content: center;
	padding-left: 25%;
}

.favorito {
	width: 200px;
	height: 300px;
	margin-left: 80px;
	text-align: center;
	line-height: 74px;
	font-size: 30px;
	align-items: center;
}

.parrafoF h1 {
	text-align: left;
	font-size: 20px;
}

.parrafoF h2 {
	font-size: 10px;
	text-align: right;
}

.parrafoF {
	width: 200px;
	margin-left: 80px;
}

img {
	width: 200px;
	height: 300px;
	border-radius: 5px;
}




/*Footer*/
footer {
	width: 100%;
	background: #000000;
	color: white;

}

.container-footer-all {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 40px;
}

.container-body {
	display: flex;
	justify-content: space-between;
}

.colum1 {
	max-width: 400px;
}


.colum1 h1 {
	font-size: 22px;
}

.colum1 p {
	font-size: 14px;
	color: #C7C7C7;
	margin-top: 20px;
}

.colum2 {
	max-width: 400px;

}

.colum2 h1 {
	font-size: 22px;
}

.row {
	margin-top: 20px;
	display: flex;
}

.row img {
	width: 36px;
	height: 36px;
}

.row label {
	margin-top: 10px;
	margin-left: 20px;
	color: #C7C7C7;
}

.colum3 {
	max-width: 400px;
}

.colum3 h1 {
	font-size: 22px;
}

.row2 {
	margin-top: 20px;
	display: flex;
}

.row2 img {
	width: 36px;
	height: 36px;
}

.row2 label {
	margin-top: 10px;
	margin-left: 20px;
	max-width: 140px;
}

.container-footer {
	width: 100%;
	background: #1D1C1C;
}

.footer {
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.copyright {
	color: #C7C7C7;
}

.copyright a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.information a {
	text-decoration: none;
	color: #C7C7C7;
}

@media screen and (max-width: 1100px) {

	.container-body {
		flex-wrap: wrap;
	}

	.colum1 {
		max-width: 100%;
	}

	.colum2,
	.colum3 {
		margin-top: 40px;
	}
}