* {
    text-decoration: none;
    font-family: Sans-Serif;
    margin: 0px;
}

header {
    display: flex;
    height: 296px;
    width: 100%;
}

header img {
    filter: blur(25px);
    object-fit: cover;
    width: 100%;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
}

.todo {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    width: 44%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.1fr 0.01fr 0.2fr 0.2fr;
    grid-template-areas:
        "title"
        "add"
        "status";
}

.title {
    grid-area: title;
}

.add {
    grid-area: add;
    margin-top: 1%;
    width: max-content;
}

.animg {
    grid-area: animg;
    margin-top: 4.5%;
    padding-left: 2%;
    padding-right: 2%
}

.animg img {
    width: 280px;
    height: 420px;
    border-radius: 5px;
    object-fit: cover;
}
.status{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}
.status li{
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
}   

.des {
    margin-top: 7%;
    width: 84%;
}
.des p{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: initial;
}

.epi{
    margin-top: 2%;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-right: auto;
}
.epi ul{
    margin-top: 6%;
}

.fa,
.fa-brands,
.fa-duotone,
.fa-light,
.fa-regular,
.fa-solid,
.fa-thin,
.fab,
.fad,
.fal,
.far,
.fas,
.fat {
    width: 23px;
    font-size: 19px;
}
.cont {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;
    display: flex;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 72%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.card {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    overflow: hidden;
    width: 300px;
    margin-bottom: 5%; 
} 
.card-header{
    padding: 0px;
}
.card-header img {
    margin: auto;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.h3, h3 {
    font-size: 21px;
    text-align: center;
    color: black;
    justify-content: center;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}