* {
    text-decoration: none;
    font-family: Sans-Serif;
    margin: 0px;
}

header {
    display: flex;
    height: 200px;
    width: 100%;
}

header img {
    filter: blur(30px);
    object-fit: cover;
    width: 100%;
}

body {
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
}

.all {
    display: flex;
    flex-wrap: wrap;
}

.video{
    display: flex;
}

.info {
    display: grid;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 0.8fr;

}

.title {
    grid-column: 1;
    grid-row: 1;
    grid-column-end: none;
    width: max-content;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    float: left;
    background: transparent;
    background-color: rgba(77, 77, 77, 0.05);
    margin-bottom: 3.5%;
}

.caps {
    place-self: center;
    grid-column: 1;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
}

.caps ul {
    margin-top: 4%;
    margin-bottom: 0%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.caps a {
    color: #FFF;
    text-decoration: none;
    font: 900 12px sans-serif;
    padding: 8px 20px 8px 20px;
    color: #131313;
    vertical-align: 20px;
    border-radius: 5px;
    letter-spacing: 2px;
    position: relative;
    margin-left: 12px;
    margin-right: 15px;
}

.player {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    grid-area: 2;
    grid-row: 2;
    grid-column: 1;
    grid-column-end: 3;
    justify-self: center;
}


.comments {
    grid-area: 4;
    grid-column: 1;
    grid-column-end: none;
    margin-top: 3%
}

.comm {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Cards */

.recom {
    grid-area: 5;
    grid-column: 1;
    grid-column-end: none;
    width: max-content;
    display: flex;
    flex-wrap: nowrap;
}

.cards {
    justify-content: center;
    width: 100%;
    grid-column: 1;
    grid-column-end: 3;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 2%;
    gap: 2%;
}

.card {
    text-decoration: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    overflow: hidden;
    width: 300px;
    margin-bottom: 2%;
}

.card-header {
    padding: 0px;
}

.card-header img {
    margin: auto;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.card h3 {
    font-size: 21px;
    text-align: center;
    color: black;
    justify-content: center;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}


@media (max-width: 667px) {
    .info {
        margin-right: 0;
        margin-left: 0;
    }

    .title,
    .recom {
        justify-self: center;
        margin-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
    }

    .caps {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 5%;
    }

    .player {
        margin-top: 5%;
        justify-content: center;
        width: 100%;
        height: 24%;
    }
    .player iframe{
        width: 90%;
    }
    .comments{
        margin-top: 1%;
    }
    .comments h1 {
        grid-area: 5;
        text-align: center;
        margin-bottom: 6%;
    }
    .caps a {
        margin-left: none;
        margin-right: none;
    }
}








.green:hover {
    color: #FFF;
    transition: 0.3s;
    background: #03C9A9;
    border: 2px solid #03C9A9;
}

.red:hover {
    color: #FFF;
    transition: 0.3s;
    background: #F62459;
    border: 2px solid #F62459;
}

.blue:hover {
    color: #FFF;
    transition: 0.3s;
    background: #134a6e;
    border: 2px solid #134a6e;
}

.lightblue:hover {
    color: #FFF;
    transition: 0.3s;
    background: #3498DB;
    border: 2px solid #3498DB;
}

.orange:hover {
    color: #FFF;
    transition: 0.3s;
    background: rgb(252, 149, 81);
    border: 2px solid rgb(252, 149, 81);
}

.black:hover {
    color: #FFF;
    transition: 0.3s;
    background: #1b1b1b;
    border: 2px solid #1b1b1b;
}

.brown:hover {
    color: #FFF;
    transition: 0.3s;
    background: #473a27;
    border: 2px solid #473a27;
}

.yellow:hover {
    color: #FFF;
    transition: 0.3s;
    background: #eef117;
    border: 2px solid #eef117;
}

.purple:hover {
    color: #FFF;
    transition: 0.3s;
    background: #663399;
    border: 2px solid #663399;
}

.smoke:hover {
    color: #FFF;
    transition: 0.3s;
    background: #575757;
    border: 2px solid #575757;
}

.skin:hover {
    color: rgb(5, 5, 5);
    transition: 0.3s;
    background: #ffffdf;
    border: 2px solid #ffffdf;
}

.wine:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background: #641f30;
    border: 2px solid #641f30;
}