
/* @font-face {
    font-family: Incompleeta-regular;
    src: url("fonts/IncompleetaRegular");
} */

.container-Cuerpo{
    display: flex;
    flex-wrap: wrap;
}
.mostP, .expl{
    display: flex;
    width: 80%;
    gap:2%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.expl{
    margin-bottom: 3%;
}

img {
	width: 220px;
	height: 310px;
	border-radius: 5px;
    object-fit: cover;
}

.imgA:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: 1s;
    transition-property: 1s;
}

.anime-agregado{
    width: min-content;
}
.anime-agregado h1{
   margin-top: 5px;
   text-align: left;
   font-size: 20px;
   font-weight: 400;
}
.anime-agregado h2{
    text-align: right;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 4%;
    font-weight: 500;
 }


 .parrafo{
    display: flex;
    padding: 90px;
    width: 100%;
    vertical-align: text-bottom;
}

.parrafo h2{
    font-size: 34px;
}
/* Soon */



/* footer */

.containerCopy{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    border-radius: 5px;
    color: white;
    

}
.copyright h1{
    text-align: center;
    font-size:15px;
    margin-top: 5px;
    font-weight: 400;
}

@media (max-width: 667px){
    .mostP, .expl{
        justify-content: center;
    }
}